<div class="d-flex justify-content-center flex-column container">

  <img src="assets/cars.jpeg" alt="Bilar" class="banner">

  <h3 class="mt-3">Köpa bil gör du på Köp & Sälj bil</h3>
  <p>Köp & Sälj bil är Sveriges nya marknadsplats för begagnade bilar på nätet. Vi har som mål att hjälpa mer än 26 000
    kunder varje år med att sälja/ köpa rätt bil. Vi hoppas på en varritation i hundratals modeller och från fler än 60
    fabrikat, via vårt system. Hos oss kan du köpa bil på nätet till det ändamål du önskar! Du kan också sälja bil genom
    Köp & Sälj bil.</p>

  <p>Vår affärsidé bygger på att bilen är så pass väl och objektivt beskriven att du inte behöver se bilen på plats för
    att skapa dig en uppfattning när du ska köpa bil på nätet. Att köpa bil på bilauktion genom oss ska vara tryggt,
    därför gäller Konsumentköplagen och du har reklamationsrätt på bilen om dolda fel visar sig efter köpet.</p>


  <h3>Vår miljöpåverkan</h3>
  <p>Köp & Sälj bils affärsidé är att effektivt förmedla begagnade fordon, till förmån för både köpare och säljare. Ett
    mer effektivt resursanvändande är en förutsättning för utvecklingen mot ett mer hållbart samhälle, en utveckling som
    vi bidrar till.</p>
</div>